/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-col.ant-col-18 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ServerConnectFrame_FrameWrapper__3STas {
  width: 100%;
  max-width: 100%;
}

button.ant-btn.ant-btn-primary {
  float: right;
  padding: 5px 10px;
  border-radius: 8px;
}

.ant-row {
  flex-direction: column;
}

.ant-col.ant-col-6 {
  max-width: 100%;
}

.ant-col-18 {
  max-width: 100%;
}

@media (max-width: 1130px) {
  .sidebar-home {
    display: flex;
    flex-direction: column;
  }

  .input-group.input-style {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#editor-buttons {
  margin-left: 0 !important;
}

div#codeMirrorEditor {
  width: 100%;
}

.Frame_FrameHeaderText__1nEHG {
  display: flex;
  justify-content: start;
}
}

svg#Frame_toEditor__AD3KA {
  margin-left: 10px;
}